@import '../../_storage.scss';

.calc-history__body {
    position: absolute;
    top: 65px;
    right: 70px;
    width: 300px;
    height: 300px;
    z-index: 1;
    background-color: $body-color-dark1;
    box-shadow: 0 0 25px $outline-color;
    border-radius: 0 0 15px 15px;
    transition: .3s;
    transform: translateY(-110%);
    padding: 20px;

    span {
        font-size: 26px;
        color: rgb(94, 0, 0);
        cursor: pointer;
    }
    
    .calc-history__inner {
        overflow-y: scroll;
        margin: 0 auto;
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        text-overflow: clip;
        overflow-wrap: break-word;
        
        p {
            text-wrap: wrap;
            font-size: 26px;
            color: $outline-color;
        }

    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: $body-color-dark2;
    }
    ::-webkit-scrollbar-thumb {
        background: $outline-color;
        border-radius: 25px;
    }
}

.calc-history_active {
    transform: translateY(0);
}